@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: #ac5257bf;
}
h1 {
  font-family: "Fuggles", cursive;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 60px;
  letter-spacing: 7px;
}
.loader {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background: rgba(255, 255, 255, 0.5);
}
.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-container {
  margin: 10px 15%;
}
.image-container img {
  width: 100%;
  margin-top: 5px;
}
/* Media Query : Large SmartPhones */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 47px;
  }
  .image-container {
    margin: 10px;
  }
}
